<!-- Nova Publicação -->
<meta charset="UTF-8" />
<div ng-include="'views/novaPublicacao.html'"></div>

<!-- Publicações -->
<ul class="collection" ng-repeat="publicacao in publicacoesPorAssunto" ng-controller="comentarioCtrl">
  <li class="collection-item">
  
  	<a href="#!" class="secondary-content" ng-click="curtirPublicacao(publicacao)"> {{ publicacao.qntCurtidas }} <i class="material-icons">grade</i></a>
    <span class="title">
    	<a ng-href="#/assunto/{{ publicacao.assunto }}"> <h5>{{ publicacao.assunto | sobre }}</h5> </a>
    </span>
   	<br>
    <a ng-href="#/publicacao/{{ publicacao.id }}"> {{ publicacao.dataCriacao | date }} </a> 
   	<br>
   	<p>
      <h5>{{ publicacao.texto }}</h5>
    </p>
    
    <br>
    
    <form class="input-field col s12" name="comentarForm">
	    <textarea id="textarea1" class="materialize-textarea" required ng-model="comentario.texto"></textarea>
	    <label for="textarea1">Escreva seu comentário...</label>
    </form>
    
   	<div class="card-action right-align">
		<button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="comentarForm.$invalid" ng-click="comentar(publicacao)">Comentar!
			<i class="material-icons right">mode_comment</i>
	 	</button>
   	</div>
   
    <br>
    
    <ul class="collection" ng-if="publicacao.comentarios.length > 0">
	    <li class="collection-item" ng-repeat="comentario in publicacao.comentarios | limitTo: 5">
		  	<a href="#!" ng-click="curtirComentario(comentario)" class="secondary-content"> {{ comentario.qntCurtidas }} <i class="material-icons">grade</i></a>
		    <a ng-href="#/publicacao/{{ publicacao.id }}"> {{comentario.dataCriacao | date}} </a> 
		   	<br>
		   	<p>
	     		{{comentario.texto}}
		    </p>
	 	</li>
	 	<li class="collection-item" ng-if="publicacao.comentarios.length > 5" style="text-align: center">
	 		<a ng-href="#/publicacao/{{publicacao.id}}">Ver mais</a>
	 	</li>
    </ul>
    
  </li>
</ul>