<meta charset="UTF-8" />
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Agradecimento</h5>
        <p class="grey-text text-lighten-4">Agradecemos a sua presença em nosso site!</p>
        <p class="grey-text text-lighten-4">Seja um bom usuário!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Termos de Uso</h5>
        <ul>
          <li>Não nos responsabilizamos pelas publicações do site.</li>
          <li>Não nos responsabilizamos pelo vocabulário usado no site.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Desde 2017
    </div>
  </div>
</footer>