<!-- TopAssuntos -->
<meta charset="UTF-8" />
<ul class="collection with-header">

	<li class="collection-header">
		<h5> #TopAssuntos </h5>
	</li>

	<a ng-href="#/assunto/{{ topAssunto[0] }}" class="collection-item" ng-repeat="topAssunto in assuntosMaisFalados | limitTo: 5">
		<span class="badge"> {{ topAssunto[1] }} </span>
		{{ topAssunto[0] }}
	</a>

</ul>
   
<!-- Assuntos do momento -->
<ul class="collection with-header">

	<li class="collection-header">
		<h5> Últimos assuntos </h5>
	</li>
	
	<a ng-href="#/assunto/{{ ultimoAssunto.nome }}" class="collection-item" ng-repeat="ultimoAssunto in assuntosMaisRecentes | limitTo: 5">
		{{ ultimoAssunto.nome }}
	</a>

</ul>