<!-- Top Desabafos -->
<meta charset="UTF-8" />
<ul class="collection with-header">

	<li class="collection-header">
		<h5> Top Desabafos </h5>
	</li>
	
	<ul class="collection" ng-repeat="publicacao in publicacoesPorCurtidas | limitTo: 5" ng-controller="comentarioCtrl">
	  <li class="collection-item">
	  
	  	<a href="#!" class="secondary-content" ng-click="curtirPublicacao(publicacao)"> {{ publicacao.qntCurtidas }} <i class="material-icons">grade</i></a>
	    <span class="title">
	    	<a ng-href="#/assunto/{{ publicacao.assunto }}"> <h5>{{ publicacao.assunto | sobre }}</h5> </a>
	    </span>
	    <a ng-href="#/publicacao/{{ publicacao.id }}"> <h6>{{ publicacao.dataCriacao | date }}</h6> </a> 
	   	<br>
	   	<p>
	       {{ publicacao.texto }}
	    </p>
	   
	    <br>
	    
	    <ul class="collection" ng-if="publicacao.comentarios.length > 0">
		    <li class="collection-item" ng-repeat="comentario in publicacao.comentarios | limitTo: 3">
			  	<a href="#!" ng-click="curtirComentario(comentario)" class="secondary-content"> {{ comentario.qntCurtidas }} <i class="material-icons">grade</i></a>
			    <a ng-href="#/publicacao/{{ publicacao.id }}"> {{comentario.dataCriacao | date}} </a> 
			   	<br>
			   	<p>
		     		{{comentario.texto}}
			    </p>
		 	</li>
		 	<li class="collection-item" ng-if="publicacao.comentarios.length > 3" style="text-align: center">
		 		<a ng-href="#/publicacao/{{publicacao.id}}">Ver mais</a>
		 	</li>
	    </ul>
	    
	  </li>
	</ul>

</ul>
 
 