<!-- Navbar -->
<meta charset="UTF-8" />
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
		
			<div class="navbar-header">

				<a class="brand-logo center" href="#/" style="color: #fff">desabafo.com</a>
		        
			</div>
			
			<ul class="right hide-on-med-and-down">
		        <li>
				    <form class="nav-content">
				        <div class="form-group">
				          <angucomplete id="assuntos" 
				                        placeholder="Buscar por assuntos" 
				                        pause="300" 
				                        selectedobject="assuntoSelecionado" 
				                        localdata="assuntosMaisRecentes" 
				                        searchfields="nome" 
				                        titlefield="nome" 
				                        minlength="1" 
				                        matchclass="highlight"/>
				        </div>
	    			</form>
				</li>
		      </ul>
	    
		</div>
	</nav>
</div>