<!-- Navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand navbar-brand-centered" href="#/" style="color: #fff">desabafo.com</a>
		</div>
		
    <form class="navbar-form navbar-left">
        <div class="form-group">
          <angucomplete id="assuntos" 
                        placeholder="Buscar por assuntos" 
                        pause="300" 
                        selectedobject="assuntoSelecionado" 
                        localdata="assuntosMaisRecentes" 
                        searchfields="nome" 
                        titlefield="nome" 
                        minlength="1" 
                        inputclass="form-control form-control-small" 
                        matchclass="highlight"/>
        </div>
    </form>
    
	</div>
</nav>