.navbar-default{
    background-color: #BF120E;
    border-color: #BF120E;
}
.navbar-brand-centered {
	color: white;
     position: absolute;
     left: 45%;
     display: block;
     text-align: center;
 }
 
.navbar-default .navbar-brand {
    color: white;
}

a {
  color: #BF120E;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #5E1917;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  color: #5E1917
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #BF120E;
  border-color: #BF120E;
}

.form-control:focus {
  border-color: #BF120E;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}

.btn-des {
  color: #fff;
  background-color: #BF120E;
  border-color: #BF120E;
}
.btn-des:focus,
.btn-des.focus {
  color: #fff;
  background-color: #5E1917;
  border-color: #5E1917;
}
.btn-des:hover {
  color: #fff;
  background-color: #5E1917;
  border-color: #5E1917;
}
.btn-des:active,
.btn-des.active,
.open > .dropdown-toggle.btn-des {
  color: #fff;
  background-color: #5E1917;
  border-color: #5E1917;
}
.btn-des:active:hover,
.btn-des.active:hover,
.open > .dropdown-toggle.btn-des:hover,
.btn-des:active:focus,
.btn-des.active:focus,
.open > .dropdown-toggle.btn-des:focus,
.btn-des:active.focus,
.btn-des.active.focus,
.open > .dropdown-toggle.btn-des.focus {
  color: #fff;
  background-color: #5E1917;
  border-color: #5E1917;
}
.btn-des:active,
.btn-des.active,
.open > .dropdown-toggle.btn-des {
  background-image: none;
}
.btn-des.disabled:hover,
.btn-des[disabled]:hover,
fieldset[disabled] .btn-des:hover,
.btn-des.disabled:focus,
.btn-des[disabled]:focus,
fieldset[disabled] .btn-des:focus,
.btn-des.disabled.focus,
.btn-des[disabled].focus,
fieldset[disabled] .btn-des.focus {
  background-color: #BF120E;
  border-color: #BF120E;
}
.btn-des.disabled,
.btn-des[disabled],
fieldset[disabled] .btn-des,
.btn-des.disabled:hover,
.btn-des[disabled]:hover,
fieldset[disabled] .btn-des:hover,
.btn-des.disabled:focus,
.btn-des[disabled]:focus,
fieldset[disabled] .btn-des:focus,
.btn-des.disabled:active,
.btn-des[disabled]:active,
fieldset[disabled] .btn-des:active,
.btn-des.disabled.active,
.btn-des[disabled].active,
fieldset[disabled] .btn-des.active {
  background-color: #BF120E;
  border-color: #BF120E;
}
.btn-des .badge {
  color: #BF120E;
  background-color: #fff;
}