<!DOCTYPE html>
<html ng-app="desabafoApp">
<head>
<meta charset="UTF-8" />
<title>Desabafo.com</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="lib/css/materialize.css" />

<script src="lib/js/angular.js"></script>
<script src="lib/js/angular-route.js"></script>
<script src="lib/js/angucomplete.js"></script>

<link rel="stylesheet" href="lib/css/angucomplete.css" />
<link rel="stylesheet" href="lib/css/styleapp.css" />

<script src="js/app.js"></script>

<script src="js/configs/urlConfig.js"></script>
<script src="js/configs/routeConfig.js"></script>

<script src="js/controllers/publicacaoCtrl.js"></script>
<script src="js/controllers/comentarioCtrl.js"></script>
<script src="js/controllers/umaPublicacaoCtrl.js"></script>
<script src="js/controllers/umAssuntoCtrl.js"></script>

<script src="js/filters/sobreFilter.js"></script>
<script src="js/filters/topDesabafoFilter.js"></script>

</head>
<body ng-controller="publicacaoCtrl">

<div ng-include="'views/navbar.html'"></div>

<div class="row">
  <div class="col s3">
  	<div ng-include="'views/menuEsquerda.html'"></div>
  </div>
  <div class="col s6">
  	<ng-view></ng-view>
  </div>
  <div class="col s3">
  	<div ng-include="'views/menuDireita.html'"></div>
  </div>
</div>
 
<div ng-include="'views/footer.html'"></div>

<script type="text/javascript" src="lib/js/jquery-3.2.1.min.js"></script>
<script src="lib/js/materialize.js"></script>

</body>
</html>