<!DOCTYPE html>
<html ng-app="desabafoApp">
<head>
<meta charset="UTF-8">
<title>Desabafo.com</title>
<link rel="stylesheet" href="lib/bootstrap/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="lib/bootstrap/css/app.css" />

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="js/app.js"></script>

<script src="js/configs/urlConfig.js"></script>
<script src="js/configs/routeConfig.js"></script>

<script src="js/controllers/publicacaoCtrl.js"></script>
<script src="js/controllers/comentarioCtrl.js"></script>

</meta>
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand navbar-brand-centered" href="#/">desabafo.com</a>
			</div>
		</div>
	</nav>

	<div ng-include="'views/menuEsquerda.html'"></div>

 	<ng-view></ng-view>
 	
	<div ng-include="'views/menuDireita.html'"></div>

	<script src="lib/bootstrap/bootstrap/jquery.min.js"></script>
	<script src="lib/bootstrap/bootstrap/bootstrap.min.js"></script>

</body>
</html>